@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
header{
    display: flex;
    justify-content: space-around;
}
ul{display: flex;
    }

    li{ padding: 0px 10px;
    color: blue;}
    li:hover {
        color: aquamarine;
    }
    label{
        color: brown;
        font-weight: bold;
        font-size: 30px;
    }